.Caja1{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
      margin-bottom: 5rem;
    }

.T2{
      text-align: left;
    }

.Caja2{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
      margin-bottom: 5rem;
    }

.T3{
      text-align: left;
    }

.Caja3{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
    }

.T4{
      text-align: left;
    }

.Caja4{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
      margin-left: 45rem;
      margin-bottom: 5rem;
    }

.T5{
      text-align: left;
    }

.Derecha{
     margin-top: -435px;
      height: auto;
      width: auto;
      margin-left: 15rem;
    }

.Caja5{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
      margin-left: 45rem;
      margin-bottom: 5rem;
    }

.T6{
      text-align: left;
    }

.Caja6{
      border: 1px black solid;
      width: 40rem;
      text-align: center;
      margin-left: 45rem;
    }

.T7{
      text-align: left;
    }